* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 1440px) {
  body {
    width: 100%;
    height: 100vh;
    /*universal*/
    /*universal*/
  }
  body .component {
    max-width: 255px;
  }
  body .component .large-number {
    font-family: "Lato-Bold";
    line-height: 120px;
    font-size: 100px;
    color: rgba(16, 16, 16, 0.08);
    z-index: 0;
  }
  body .component .text-box {
    max-width: 191px;
    text-align: center;
    justify-content: center;
    z-index: 1;
    position: relative;
    top: -55px;
  }
  body .component .text-box .text-box-image {
    width: 80px;
    height: 80px;
  }
  body .component .text-box .text-box-header {
    font-family: "Lato-Bold";
    font-size: 18px;
    line-height: 22px;
    color: #101010;
    margin-bottom: 10px;
  }
  body .component .text-box .text-box-paragraph {
    font-family: "Lato-Regular";
    font-size: 12px;
    line-height: 14px;
    color: #000000;
  }
  body .container {
    padding: 0 165px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  body .boxes {
    display: flex;
    gap: 30px;
    margin-bottom: 124px;
  }
  body .boxes .box {
    width: 350px;
    height: 250px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  body .boxes .box .main_image {
    width: 350px;
    height: 250px;
    border-radius: 8px;
  }
  body .boxes .box .text-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    position: relative;
    top: -100px;
    left: 29px;
    max-width: 290px;
    border-radius: 8px;
  }
  body .boxes .box .text-area .article {
    max-width: 229px;
    font-family: "Lato-Bold";
    line-height: 22px;
    font-size: 18px;
    color: #101010;
    margin: 33px 32px 20px 32px;
  }
  body .boxes .box .text-area .paragraph {
    max-width: 229px;
    font-family: "Lato-Regular";
    line-height: 18px;
    font-size: 12px;
    color: #101010;
    margin-bottom: 5px;
  }
  body .boxes .box .text-area .link {
    font-family: "Lato-Bold";
    line-height: 18px;
    font-size: 12px;
    text-align: center;
    color: #ED4C5C;
    text-decoration: none;
  }
  body .header {
    font-family: "Lato-Bold";
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    font-style: normal;
    color: #000000;
    margin-bottom: 63px;
    padding-top: 63px;
  }
  body .Banner {
    width: 100%;
    height: 100vh;
    background: url(./images/Background-image.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  body .Banner header {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 55px;
    justify-content: space-between;
  }
  body .Banner header .navlinks {
    display: flex;
    gap: 40px;
  }
  body .Banner header .navlinks a {
    font-family: "Lato-Regular";
    line-height: 17px;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
  }
  body .Banner header .navlinks a :hover {
    font-family: "Lato-Bold";
    line-height: 17px;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
  }
  body .Banner header .language-login {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28.81px;
  }
  body .Banner header .language-login .left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
  }
  body .Banner header .btn-red {
    padding: 12px 29px;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    font-family: "Lato-Regular";
    line-height: 17px;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
  }
  body .Banner main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .Banner main h1 {
    font-family: "Lato-Bold";
    line-height: 86px;
    font-size: 72px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    padding-top: 177px;
    margin-bottom: 39px;
  }
  body .Banner main p {
    max-width: 500px;
    height: 124px;
    font-family: "Lato";
    font-weight: 600;
    font-style: normal;
    line-height: 36px;
    font-size: 24px;
    color: #FFFFFF;
    margin-bottom: 39px;
  }
  body .Banner main .btn-white {
    padding: 17px 53px;
    background: #FFFFFF;
    border-radius: 6px;
    font-family: "Lato";
    font-weight: 600;
    font-style: normal;
    line-height: 17px;
    font-size: 14px;
    text-transform: uppercase;
    color: #ED4C5C;
    text-decoration: none;
  }
  body .Info {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 94px 165px;
  }
  body .Info .text-side h1 {
    max-width: 445px;
    font-family: "Lato-Bold";
    font-size: 36px;
    line-height: 43px;
    color: #000000;
    margin-bottom: 24px;
  }
  body .Info .text-side p {
    max-width: 445px;
    font-family: "Lato-Regular";
    line-height: 20px;
    font-size: 14px;
    text-align: justify;
    color: #000000;
    margin-bottom: 20px;
  }
  body .Info .text-side a {
    font-family: "Lato-Regular";
    line-height: 20px;
    font-size: 14px;
    text-align: justify;
    color: #ED4C5C;
    text-decoration: none;
  }
  body .Info .photos .play-video img {
    width: 66px;
    height: 66px;
    position: relative;
    top: 160px;
    left: -40px;
    z-index: 2;
  }
  body .Info .photos img {
    width: 445px;
    height: 311px;
    position: relative;
    z-index: 1;
    top: -30px;
  }
  body .Features {
    width: 100%;
    height: 550px;
    display: flex;
    background: #FAFAFA;
    align-items: center;
  }
  body .Features .container .boxes {
    display: flex;
  }
  body .Technology {
    width: 100%;
    height: 500px;
    background: #FFFFFF;
  }
  body .Technology .components {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}/*# sourceMappingURL=style.css.map */