*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;

    /*universal */
    
    .footer-header{
        font-family: 'Lato-Bold';
        line-height: 22px;
        font-size: 18px;
        color: #101010;
        margin-bottom: 33px;
    }

    .heading{
        font-family: 'Lato-Bold';
        line-height: 43px;
        color: #000000;
        font-size: 36px;
        margin-bottom: 63px;
    }

    .container{
        width: 350px;
        height: 250px;

        .text{
            width: 293px;
            height: 198px;
            display: flex;
            flex-direction: column;
            text-align: center;
            background: #FFFFFF;
            position: relative;
            top: -100px;
            left: 25px;
            box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            align-items: center;
            text-align: center;
            padding: 33px 20px 25px 20px;

            .header{
                max-width: 229px;
                font-family: 'Lato-Bold';
                font-size: 18px;
                text-align: center;
                line-height: 22px;
                color: #101010;
                margin-bottom: 20px;
            }

            .paragraph{
                max-width: 229px;
                font-family: 'Lato-Regular';
                line-height: 18px;
                font-size: 12px;
                color: #101010;
                margin-bottom: 5px;
            }

            .link{
                font-family: 'Lato-Bold';
                line-height: 18px;
                font-size: 12px;
                color: #ED4C5C;
                text-decoration: none;
            }
        }
    }

    .boxes{
        display: flex;
        flex-direction: row;
        gap: 30px;
        justify-content: space-between;


        .box{
            max-width: 255px;
            max-height: 226px;
            background: #FFFFFF;
            text-align: center;
            align-items: center;

            .head{
                font-family: 'Lato-Bold';
                line-height: 22px;
                font-size: 18px;
                color: #101010;
                margin-bottom: 10px;
            }

            .description{
                max-width: 191px;
                max-height: 51px;
                font-family: 'Lato-Regular';
                line-height: 14px;
                font-size: 12px;
                color: #000000;
                position: relative;
            }

            .number-image img{
                font-family: 'Lato-Bold';
                line-height: 120px;
                font-size: 100px;
                color: rgba(16, 16, 16, 0.08);
                position: relative;
                top: 45px;
            }
    
            .main_image{
                width: 80px;
                height: 80px;
                position: relative;
            }
    
        }
    
    }

    .Page-1{
        width: 100%;
        height: 100vh;
        background: url(./images/Background-image.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-clip: border-box;

        header{
            width: 100%;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 50px 120px 0 165px;

            .navlinks{
                width: 445px;
                height: 22px;
                display: flex;
                align-items: center;
                gap: 15px;

                a{
                    font-family: 'Lato';
                    font-weight: 500;
                    font-style: normal;
                    line-height: 17px;
                    font-size: 14px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    text-decoration: none;
                }

                a:hover{
                    font-family: 'Lato';
                    font-weight: 700;
                    font-style: normal;
                    line-height: 17px;
                    font-size: 14px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    text-decoration: none;
                }
            }

            .language-login{
                display: flex;
                align-items: center;
                gap: 20px;

                .left{
                    display: flex;
                    align-items: center;
                    gap: 11px;
                }

                a{
                    font-family: 'Lato';
                    font-weight: 400;
                    font-style: normal;
                    line-height: 17px;
                    font-size: 14px;
                    text-transform: uppercase;
                    text-align: center;
                    color: #FFFFFF;
                    text-decoration: none;
                    border: 1px solid #FFFFFF;
                    border-radius: 6px;
                    padding: 12px 29px;
                }
            }
        }
        
        main{
            width: 100%;
            height: calc(100vh - 100px);
            text-align: center;
            flex-direction: column;
            display: flex;
            align-items: center;

            h1{
                font-family: 'Lato-Bold';
                line-height: 86px;
                font-size: 72px;
                text-transform: uppercase;
                letter-spacing: 0.05em;
                color: #FFFFFF;
                padding-top: 100px;
                margin-bottom: 39px;
            }

            p{
                max-width: 540px;
                height: 124px;
                font-family: 'Lato';
                font-weight: 600;
                font-style: normal;
                line-height: 36px;
                font-size: 24px;
                color: #FFFFFF;
                margin-bottom: 39px;
            }

            a{
                padding: 17px 53px;
                border: 1px solid #FFFFFF;
                font-family: 'Lato';
                font-weight: 600;
                font-style: normal;
                line-height: 17px;
                font-size: 14px;
                text-transform: uppercase;
                color: #ED4C5C;
                background: #FFFFFF;
                text-decoration: none;
                border-radius: 6px;
            }
        }
    }

    .Page-2{
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 125px;

        .text{
            max-width: 445px;

            h1{
                font-family: 'Lato-Bold';
                font-size: 36px;
                line-height: 43px;
                color: #000000;
                margin-bottom: 24px;
            }

            p{
                font-family: 'Lato';
                font-weight: 400;
                font-style: normal;
                line-height: 20px;
                font-size: 15px;
                text-align: justify;
                color: #000000;
                margin-bottom: 20px;
            }

            a{
                font-family: 'Lato-Regular';
                line-height: 20px;
                font-size: 14px;
                text-align: justify;
                color: #ED4C5C;
                text-decoration: none;
            }
        }

        .photo{
            display: flex;

            .small-photo img{
                width: 66px;
                height: 66px;
                position: relative;
                top: 123px;
                left: 33px;
            }

            img{

                width: 445px;
                height: 311px;
                border-radius: 15px;
            }
        }
    }

    .Page-3{
        width: 100%;
        height: 100vh;
        background: #FAFAFA;
        align-items: center;
        text-align: center;
        padding: 63px 165px;

        
        

        .features{
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            gap: 30px;
        }

    }

    .Page-4{
        width: 100%;
        height: 100vh;
        text-align: center;
        align-items: center;
        padding: 63px 165px;
        justify-content: center;
    }

    .Page-5{
        background: #ED4C5C;
        display: flex;
        align-items: center;
        padding: 0 165px;

        .text-side{
            max-width: 50%;
            max-height: 271px;
            display: flex;
            flex-direction: column;
            margin-right: 25px;

            h1{
                max-width: 430px;
                font-family: 'Lato';
                font-weight: 600;
                font-style: normal;
                line-height: 43px;
                font-size: 36px;
                color: #FFFFFF;
                margin-bottom: 24px;
            }

            .small-text{
                max-width: 420px;
                max-height: 64px;
                font-family: 'Lato';
                font-weight: 400;
                font-style: normal;
                line-height: 20px;
                font-size: 14px;
                color: #FFFFFF;
                margin-bottom: 44px;
            }

            .socials{
                display: flex;
                align-items: center;
                gap: 25px;
            }

        }

        .photo-side{
            max-width: 50%;

            .backphotos{

                .Back-Left{
                    position: relative;
                    max-width: 383px;
                    height: 267px;
                    border-radius: 15px;
                    z-index: 1;
                    top: 315px;
                    left: 150px;
                }

                .Back-Right{
                    position: relative;
                    max-width: 383px;
                    height: 267px;
                    border-radius: 15px;
                    z-index: 1;
                    top: 45px;
                    right: -305px;
                }
            }

            .mainphoto{

                img{
                    position: relative;
                    max-width: 445px;
                    height: 311px;
                    border-radius: 15px;
                    z-index: 2;
                    top: -250px;
                    right: -200px;
                }
            }
        }
    }

    .Page-6{
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        padding: 117px 177px;
        gap: 30px;

        .contact{           
            display: flex;
            flex-direction: column;
            text-align: start;
            align-self: flex-start;
            padding-top: 60px;
            gap: 60px;

            .article{
                font-family: 'Lato-Bold';
                color: #000000;
                line-height: 43px;
                font-size: 36px;
            }

            p{
                max-width: 434px;
                font-family: 'Lato-Regular';
                font-size: 14px;
                line-height: 20px;
                color: #000000;
            }
        }

        .inputs-button{
            display: flex;
            flex-direction: column;
            align-items: center;


            .name-surname{
                max-width: 540px;
                display: flex;
                gap: 30px;
                margin-bottom: 24px;

                .name-input{
                    width: 255px;
                    height: 60px;
                    border: 1px solid #333333;
                    border-radius: 6px;
                    font-family: 'Lato-Regular';
                    font-size: 16px;
                    line-height: 19px;
                    color: rgba(19, 39, 67, 0.5);
                    text-align: start;
                    padding-left: 31px;
                }

                .surname-input{
                    width: 255px;
                    height: 60px;
                    border: 1px solid #333333;
                    border-radius: 6px;
                    font-family: 'Lato-Regular';
                    line-height: 19px;   
                    font-size: 16px;
                    color: rgba(19, 39, 67, 0.5);
                    padding-left: 31px;
                }
            }

            .phone-number input{
                width: 540px;
                height: 60px;
                border: 1px solid #333333;
                border-radius: 6px;
                font-family: 'Lato-Regular';
                line-height: 19px;
                font-size: 16px;
                color: rgba(19, 39, 67, 0.5);
                padding-left: 31px;
                margin-bottom: 24px;
            }

            .select-service select{
                width: 540px;
                height: 60px;
                border: 1px solid #333333;
                border-radius: 6px;
                justify-content: center;
                padding: 21px 31px;
                margin-bottom: 27px;

                option{
                    font-family: 'Lato-Regular';
                    line-height: 19px;
                    font-size: 16px;
                    color: rgba(19, 39, 67, 0.5);
                    padding: 21px 31px;
                }
            }

            a{
                max-width: 200px;
                height: 50px;
                background: #ED4C5C;
                border-radius: 6px;
                border: 1.5px solid #ED4C5C;
                position: relative;
                padding: 15px 25px;
                right: 200px;
                font-family: 'Lato-Regular';
                line-height: 17px;
                font-size: 14px;
                text-transform: uppercase;
                color: #FFFFFF;
                cursor: pointer;
                text-decoration: none;
            }
        }
    }

    .Page-7{
        width: 100%;
        height: 100vh;
        background: #FAFAFA;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .Adress p{
            max-width: 200px;
            height: 54px;
            font-family: 'Lato-Regular';
            line-height: 18px;
            font-size: 12px;
            color: #101010;
        }

        .Services .list{

            max-width: 254px;
            height: 50px;
        }

        .Get-in-Touch{
            display: flex;
            flex-direction: column;
            gap: 11px;

            h2{
                padding-top: 40px;
            }

            a{
                font-family: 'Lato-Regular';
                line-height: 14px;
                font-size: 12px;
                color: #101010;
                text-decoration: none;
            }

            .navlinks{
                margin-top: 20px;
            }
        }
    }


    @media screen and (max-width: 480px){
        body{
            width: 100px;
            height: 100vh;
            background-color: #000000;

            .Page-1{
                
                /*background: url(./images/Background-image.svg);
                background-repeat: no-repeat;
                background-position: center;
                background-clip: border-box;
                background-size: cover;*/

                header{
                    height: 50px;
                    width: 100%;
                    align-items: center;
                    display: flex;
                    padding: 25px 60px 0 82px;
                    justify-content: space-between;

                    .navlinks{
                        height: 11px;
                        width: 223px;
                        align-items: center;
                        display: flex;
                        gap: 5px;
                    
                        a{
                            font-weight: 500;
                            font-family: 'Lato';
                            line-height: 8px;
                            font-style: normal;
                            text-transform: uppercase;
                            font-size: 14px;
                            text-decoration: none;
                            color: #FFFFFF;
                        }

                        a:hover{
                            font-weight: 700;
                            font-family: 'Lato';
                            line-height: 17px;
                            font-style: normal;
                            text-transform: uppercase;
                            font-size: 14px;
                            text-decoration: none;
                            color: #FFFFFF;
                        }
                    }

                    .language-login{
                        align-items: center;
                        display: flex;
                        gap: 20px;

                        .left{
                            align-items: center;
                            display: flex;
                            gap: 11px;
                        }  

                        a{
                            font-weight: 400;
                            font-family: 'Lato';
                            line-height: 17px;
                            font-size: 14px;
                            font-style: normal;
                            text-align: center;
                            text-transform: uppercase;
                            text-decoration: none;
                            color: #FFFFFF;
                            border-radius: 6px;
                            border: 1px solid #FFFFFF;
                            padding: 12px 29px;
                        }
                    }
                }
        
                main{
                    height: calc(100vh - 100px);
                    width: 100%;
                    flex-direction: column;
                    text-align: center;
                    align-items: center;
                    display: flex;

                    h1{
                        line-height: 86px;
                        font-family: 'Lato-Bold';
                        text-transform: uppercase;
                        font-size: 72px;
                        color: #FFFFFF;
                        letter-spacing: 0.05em;
                        margin-bottom: 39px;
                        padding-top: 100px;
                    }

                    p{
                        height: 124px;
                        max-width: 540px;
                        font-weight: 600;
                        font-family: 'Lato';
                        line-height: 36px;
                        font-style: normal;
                        color: #FFFFFF;
                        font-size: 24px;
                        margin-bottom: 39px;
                    }

                    a{
                        border: 1px solid #FFFFFF;
                        padding: 17px 53px;
                        font-weight: 600;
                        font-family: 'Lato';
                        line-height: 17px;
                        font-style: normal;
                        text-transform: uppercase;
                        font-size: 14px;
                        background: #FFFFFF;
                        color: #ED4C5C;
                        border-radius: 6px;
                        text-decoration: none;
                    }
                }
            }

            .Page-2{
                height: 100vh;
                width: 100%;
                align-items: center;
                display: flex;
                gap: 125px;
                justify-content: center;
                background: #000000;

                .text{
                    max-width: 445px;

                    h1{
                        font-size: 36px;
                        font-family: 'Lato-Bold';
                        color: #000000;
                        line-height: 43px;
                        margin-bottom: 24px;
                    }

                    p{
                        font-weight: 400;
                        font-family: 'Lato';
                        line-height: 20px;
                        font-style: normal;
                        text-align: justify;
                        font-size: 15px;
                        margin-bottom: 20px;
                        color: #000000;
                    }

                    a{
                        line-height: 20px;
                        font-family: 'Lato-Regular';
                        text-align: justify;
                        font-size: 14px;
                        text-decoration: none;
                        color: #ED4C5C;
                    }
                }

                .photo{
                    display: flex;

                    .small-photo img{
                        height: 66px;
                        width: 66px;
                        top: 123px;
                        position: relative;
                        left: 33px;
                    }

                    img{
                        height: 311px;
                        width: 445px;
                        border-radius: 15px;
                    }
                }
            }

            .Page-3{
                height: 100vh;
                width: 100%;
                align-items: center;
                background: #FAFAFA;
                padding: 63px 165px;
                text-align: center;

                .features{
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    gap: 30px;
                    text-align: center;
                }
            }

            .Page-4{
                height: 100vh;
                width: 100%;
                align-items: center;
                text-align: center;
                justify-content: center;
                padding: 63px 165px;
            }

            .Page-5{
                display: flex;
                background: #ED4C5C;
                padding: 0 165px;
                align-items: center;

                .text-side{
                    max-height: 271px;
                    max-width: 50%;
                    flex-direction: column;
                    display: flex;
                    margin-right: 25px;

                h1{
                    font-family: 'Lato';
                    font-weight: 600;
                    max-width: 430px;
                    line-height: 43px;
                    font-style: normal;
                    color: #FFFFFF;
                    font-size: 36px;
                    margin-bottom: 24px;
                }

                .small-text{
                    max-height: 64px;
                    font-family: 'Lato';
                    max-width: 420px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    margin-bottom: 44px;
                    color: #FFFFFF;
                }

                .socials{
                    align-items: center;
                    gap: 25px;
                    display: flex;
                }

            }

            .photo-side{
                max-width: 50%;

                .backphotos{

                    .Back-Left{
                        max-width: 383px;
                        height: 267px;
                        position: relative;
                        z-index: 1;
                        top: 315px;
                        left: 150px;
                        border-radius: 15px;
                    }

                    .Back-Right{
                        max-width: 383px;
                        height: 267px;
                        border-radius: 15px;
                        z-index: 1;
                        top: 45px;
                        right: -305px;
                        position: relative;
                    }
                }

                .mainphoto{

                    img{
                        max-width: 445px;
                        height: 311px;
                        border-radius: 15px;
                        z-index: 2;
                        top: -250px;
                        right: -200px;
                        position: relative;
                    }
                }
            }
        }

        .Page-6{
            height: 100vh;
            display: flex;
            width: 100%;
            padding: 117px 177px;
            gap: 30px;
            align-items: center;

            .contact{           
                flex-direction: column;
                display: flex;
                align-self: flex-start;
                padding-top: 60px;
                gap: 60px;
                text-align: start;

                .article{
                    color: #000000;
                    line-height: 43px;
                    font-size: 36px;
                    font-family: 'Lato-Bold';
                }

                p{
                    font-family: 'Lato-Regular';
                    max-width: 434px;
                    line-height: 20px;
                    color: #000000;
                    font-size: 14px;
                }
            }

            .inputs-button{
                flex-direction: column;
                align-items: center;
                display: flex;

                .name-surname{
                    display: flex;
                    gap: 30px;
                    margin-bottom: 24px;
                    max-width: 540px;

                    .name-input{
                        height: 60px;
                        border: 1px solid #333333;
                        border-radius: 6px;
                        font-family: 'Lato-Regular';
                        font-size: 16px;
                        line-height: 19px;
                        color: rgba(19, 39, 67, 0.5);
                        text-align: start;
                        padding-left: 31px;
                        width: 255px;
                    }

                    .surname-input{
                        height: 60px;
                        width: 255px;
                        border-radius: 6px;
                        font-family: 'Lato-Regular';
                        line-height: 19px;   
                        font-size: 16px;
                        color: rgba(19, 39, 67, 0.5);
                        padding-left: 31px;
                        border: 1px solid #333333;
                    }
                }

                .phone-number input{
                    height: 60px;
                    border: 1px solid #333333;
                    width: 540px;
                    font-family: 'Lato-Regular';
                    line-height: 19px;
                    font-size: 16px;
                    color: rgba(19, 39, 67, 0.5);
                    padding-left: 31px;
                    margin-bottom: 24px;
                    border-radius: 6px;
                }

                .select-service select{
                    height: 60px;
                    border: 1px solid #333333;
                    border-radius: 6px;
                    justify-content: center;
                    padding: 21px 31px;
                    margin-bottom: 27px;
                    width: 540px;

                    option{
                        line-height: 19px;
                        font-size: 16px;
                        color: rgba(19, 39, 67, 0.5);
                        padding: 21px 31px;
                        font-family: 'Lato-Regular';
                    }
                }

                a{
                    height: 50px;
                    background: #ED4C5C;
                    border-radius: 6px;
                    border: 1.5px solid #ED4C5C;
                    position: relative;
                    padding: 15px 25px;
                    right: 200px;
                    font-family: 'Lato-Regular';
                    line-height: 17px;
                    font-size: 14px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    cursor: pointer;
                    text-decoration: none;
                    max-width: 200px;
                }
            }
        }

        .Page-7{
            height: 100vh;
            background: #FAFAFA;
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 100%;

            .Adress p{
                height: 54px;
                font-family: 'Lato-Regular';
                line-height: 18px;
                font-size: 12px;
                color: #101010;
                max-width: 200px;
            }

            .Services .list{
                height: 50px;
                max-width: 254px;
            }

            .Get-in-Touch{
                flex-direction: column;
                gap: 11px;
                display: flex;

                h2{
                    padding-top: 40px;
                }

                a{
                    line-height: 14px;
                    font-family: 'Lato-Regular';
                    color: #101010;
                    text-decoration: none;
                    font-size: 12px;
                }

                .navlinks{
                    margin-top: 20px;
                }
            }
        }
    }
} 

}